DATABASE_URL=postgres://leafitome:leafitome@localhost:5433/leafitome
PORT=3001
JWT_SECRET=dev-leafitome-change-me-in-production
CORS_ORIGIN=http://localhost:5173

# Web Push (générer : npx web-push generate-vapid-keys)
VAPID_PUBLIC_KEY=BPdHGEsiFNeidP7E9VSI4ZkMpbL1V9zMr2_yTnqMuQLc-uBVVioKiZxRw4aTEVcoD2gLNEDg_FxRulP13oJprls
VAPID_PRIVATE_KEY=Rpf9VII3lVA9BgMBIjF6__zJki2PpBMxukh1zHJ2yyQ
VAPID_SUBJECT=mailto:hello@leafitome.local
